BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 9e973eaa3f1c

CREATE TABLE IF NOT EXISTS tenants (
        id VARCHAR(50) PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        created_at TIMESTAMPTZ DEFAULT NOW()
    );;

INSERT INTO tenants (id, name)
    VALUES ('d7b38d38-2d88-468f-9a1b-3f4119d8544e', 'Default Tenant')
    ON CONFLICT (id) DO NOTHING;;

DROP TABLE IF EXISTS gps_pings CASCADE;;

CREATE TABLE gps_pings (
        id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
        technician_id VARCHAR(36) NOT NULL REFERENCES technicians(tech_id),
        job_id INT NOT NULL REFERENCES jobs(id),
        latitude DECIMAL(10,8) NOT NULL CHECK (latitude BETWEEN -90 AND 90),
        longitude DECIMAL(11,8) NOT NULL CHECK (longitude BETWEEN -180 AND 180),
        timestamp TIMESTAMPTZ NOT NULL,
        accuracy DECIMAL(6,2),
        altitude DECIMAL(8,2),
        created_at TIMESTAMPTZ DEFAULT NOW(),
        tenant_id VARCHAR(50) NOT NULL REFERENCES tenants(id)
    );;

CREATE INDEX idx_gps_pings_tenant_tech_time ON gps_pings (tenant_id, technician_id, timestamp);;

CREATE INDEX idx_gps_pings_job_time ON gps_pings (job_id, timestamp);;

CREATE INDEX idx_gps_pings_id ON gps_pings (id);;

INSERT INTO alembic_version (version_num) VALUES ('9e973eaa3f1c') RETURNING alembic_version.version_num;

-- Running upgrade 9e973eaa3f1c -> 96fe28eeba86

CREATE TABLE IF NOT EXISTS tenant_gps_configurations (
        tenant_id VARCHAR(50) PRIMARY KEY,
        retention_days INTEGER NOT NULL DEFAULT 30,
        created_at TIMESTAMPTZ DEFAULT NOW(),
        updated_at TIMESTAMPTZ DEFAULT NOW(),
        CONSTRAINT valid_retention_days CHECK (retention_days BETWEEN 1 AND 90)
    );;

CREATE INDEX IF NOT EXISTS ix_tenant_gps_configurations_tenant_id ON tenant_gps_configurations (tenant_id);;

CREATE TABLE IF NOT EXISTS gps_purge_audit_logs (
        id VARCHAR(36) PRIMARY KEY,
        tenant_id VARCHAR(50) NOT NULL,
        job_id VARCHAR(36) NULL,
        purge_type VARCHAR(20) NOT NULL,
        deleted_count INTEGER NOT NULL,
        correlation_id VARCHAR(36) NULL,
        created_at TIMESTAMPTZ DEFAULT NOW()
    );;

CREATE INDEX IF NOT EXISTS ix_gps_purge_audit_logs_tenant_id ON gps_purge_audit_logs (tenant_id);;

CREATE INDEX IF NOT EXISTS ix_gps_purge_audit_logs_job_id ON gps_purge_audit_logs (job_id);;

CREATE INDEX IF NOT EXISTS ix_gps_purge_audit_logs_created_at ON gps_purge_audit_logs (created_at);;

UPDATE alembic_version SET version_num='96fe28eeba86' WHERE alembic_version.version_num = '9e973eaa3f1c';

-- Running upgrade 96fe28eeba86 -> cd7d0313e199

CREATE TABLE IF NOT EXISTS gps_rejected_ping_logs (
        id VARCHAR(36) PRIMARY KEY,
        technician_id VARCHAR(50) NULL,
        job_id VARCHAR(36) NULL,
        reason VARCHAR(200) NOT NULL,
        timestamp TIMESTAMPTZ DEFAULT NOW(),
        tenant_id VARCHAR(50) NULL
    );;

CREATE INDEX IF NOT EXISTS ix_gps_rejected_ping_logs_technician_id ON gps_rejected_ping_logs (technician_id);;

CREATE INDEX IF NOT EXISTS ix_gps_rejected_ping_logs_job_id ON gps_rejected_ping_logs (job_id);;

CREATE INDEX IF NOT EXISTS ix_gps_rejected_ping_logs_timestamp ON gps_rejected_ping_logs (timestamp);;

CREATE INDEX IF NOT EXISTS ix_gps_rejected_ping_logs_tenant_id ON gps_rejected_ping_logs (tenant_id);;

UPDATE alembic_version SET version_num='cd7d0313e199' WHERE alembic_version.version_num = '96fe28eeba86';

-- Running upgrade cd7d0313e199 -> a77e3e45ea49

