BEGIN;

-- Running upgrade 004554449425 -> c5618b3bdac0

COMMENT ON COLUMN agent_state_records.last_error IS 'Safe error summary only ù no stack traces or secrets.';

COMMENT ON COLUMN agent_state_records.safe_metadata IS 'Safe operational metadata ù no customer data or secrets.';

ALTER TABLE notification_templates ALTER COLUMN variables SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN tenant_id SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN agent_type SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN is_deleted SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN deleted_by TYPE VARCHAR(100);

CREATE INDEX idx_managed_prompt_lookup ON notification_templates (tenant_id, agent_type, channel, locale, type, is_active);

CREATE INDEX ix_notification_templates_agent_type ON notification_templates (agent_type);

CREATE INDEX ix_notification_templates_is_deleted ON notification_templates (is_deleted);

CREATE INDEX ix_notification_templates_tenant_id ON notification_templates (tenant_id);

ALTER TABLE notification_templates ADD CONSTRAINT uq_notification_templates_lookup UNIQUE (tenant_id, agent_type, channel, locale, type, version);

ALTER TABLE notification_templates ADD FOREIGN KEY(tenant_id) REFERENCES organizations (id) ON DELETE RESTRICT;

ALTER TABLE template_versions ADD COLUMN name VARCHAR(100);

ALTER TABLE template_versions ADD COLUMN type VARCHAR(50);

ALTER TABLE template_versions ADD COLUMN channel VARCHAR(20);

ALTER TABLE template_versions ADD COLUMN locale VARCHAR(10);

ALTER TABLE template_versions ADD COLUMN format VARCHAR(20);

ALTER TABLE template_versions ADD COLUMN agent_type VARCHAR(50);

ALTER TABLE template_versions ADD COLUMN variables JSON;

ALTER TABLE template_versions ADD COLUMN template_is_active BOOLEAN;

ALTER TABLE template_versions ADD COLUMN restored_from_version INTEGER;

ALTER TABLE template_versions ADD COLUMN is_deleted BOOLEAN NOT NULL;

ALTER TABLE template_versions ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE template_versions ADD COLUMN deleted_by VARCHAR(100);

CREATE UNIQUE INDEX idx_active_template_version ON template_versions (template_id) WHERE is_active = true AND is_deleted = false;

ALTER TABLE template_versions ADD CONSTRAINT uq_template_version UNIQUE (template_id, version_number);

UPDATE public.alembic_version SET version_num='c5618b3bdac0' WHERE public.alembic_version.version_num = '004554449425';

-- Running upgrade c5618b3bdac0 -> d69c2c06b0a4

UPDATE public.alembic_version SET version_num='d69c2c06b0a4' WHERE public.alembic_version.version_num = 'c5618b3bdac0';

-- Running upgrade d69c2c06b0a4 -> 124652518c0e

ALTER TABLE sms_deliveries ADD COLUMN tenant_id VARCHAR(50) NOT NULL;

CREATE INDEX ix_sms_deliveries_tenant_id ON sms_deliveries (tenant_id);

ALTER TABLE sms_deliveries ADD FOREIGN KEY(tenant_id) REFERENCES organizations (id) ON DELETE RESTRICT;

UPDATE public.alembic_version SET version_num='124652518c0e' WHERE public.alembic_version.version_num = 'd69c2c06b0a4';

-- Running upgrade 124652518c0e -> f3f8d86fa820

DROP TABLE IF EXISTS gps_pings CASCADE;;

CREATE TABLE gps_pings (
            id VARCHAR(36) NOT NULL,
            tenant_id VARCHAR(50) NOT NULL REFERENCES organizations(id) ON DELETE RESTRICT,
            technician_id VARCHAR(36) NOT NULL REFERENCES technicians(tech_id),
            job_id VARCHAR(36) NOT NULL,
            latitude DOUBLE PRECISION NOT NULL,
            longitude DOUBLE PRECISION NOT NULL,
            "timestamp" TIMESTAMPTZ NOT NULL,
            accuracy DOUBLE PRECISION,
            altitude DOUBLE PRECISION,
            ip_address VARCHAR(50),
            user_agent TEXT,
            correlation_id VARCHAR(36),
            created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
            PRIMARY KEY (id, "timestamp"),
            CONSTRAINT ck_gps_pings_latitude CHECK (latitude BETWEEN -90 AND 90),
            CONSTRAINT ck_gps_pings_longitude CHECK (longitude BETWEEN -180 AND 180)
        ) PARTITION BY RANGE ("timestamp");;

CREATE INDEX idx_gps_pings_tenant_tech_time
        ON gps_pings (tenant_id, technician_id, "timestamp");;

CREATE INDEX idx_gps_pings_job_time
        ON gps_pings (job_id, "timestamp");;

CREATE OR REPLACE FUNCTION create_gps_ping_partition(target_date TIMESTAMPTZ)
        RETURNS VOID AS $$
        DECLARE
            partition_start DATE;
            partition_end DATE;
            partition_name TEXT;
            sql TEXT;
        BEGIN
            partition_start := DATE_TRUNC('month', target_date)::DATE;
            partition_end := (partition_start + INTERVAL '1 month')::DATE;
            partition_name := 'gps_pings_' || TO_CHAR(partition_start, 'YYYY_MM');

            IF NOT EXISTS (
                SELECT 1
                FROM pg_class c
                JOIN pg_namespace n ON n.oid = c.relnamespace
                WHERE c.relname = partition_name
            ) THEN
                BEGIN
                    sql := 'CREATE TABLE ' || partition_name || ' PARTITION OF gps_pings ' ||
                           'FOR VALUES FROM (' || quote_literal(partition_start) || ') TO (' || quote_literal(partition_end) || ')';
                    EXECUTE sql;
                EXCEPTION WHEN OTHERS THEN
                    NULL;
                END;
            END IF;
        END;
        $$ LANGUAGE plpgsql;;

UPDATE public.alembic_version SET version_num='f3f8d86fa820' WHERE public.alembic_version.version_num = '124652518c0e';

COMMIT;

