BEGIN;

-- Running upgrade 004554449425 -> c5618b3bdac0

COMMENT ON COLUMN agent_state_records.last_error IS 'Safe error summary only ù no stack traces or secrets.';

COMMENT ON COLUMN agent_state_records.safe_metadata IS 'Safe operational metadata ù no customer data or secrets.';

ALTER TABLE notification_templates ALTER COLUMN variables SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN tenant_id SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN agent_type SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN is_deleted SET NOT NULL;

ALTER TABLE notification_templates ALTER COLUMN deleted_by TYPE VARCHAR(100);

CREATE INDEX idx_managed_prompt_lookup ON notification_templates (tenant_id, agent_type, channel, locale, type, is_active);

CREATE INDEX ix_notification_templates_agent_type ON notification_templates (agent_type);

CREATE INDEX ix_notification_templates_is_deleted ON notification_templates (is_deleted);

CREATE INDEX ix_notification_templates_tenant_id ON notification_templates (tenant_id);

ALTER TABLE notification_templates ADD CONSTRAINT uq_notification_templates_lookup UNIQUE (tenant_id, agent_type, channel, locale, type, version);

ALTER TABLE notification_templates ADD FOREIGN KEY(tenant_id) REFERENCES organizations (id) ON DELETE RESTRICT;

ALTER TABLE template_versions ADD COLUMN name VARCHAR(100);

ALTER TABLE template_versions ADD COLUMN type VARCHAR(50);

ALTER TABLE template_versions ADD COLUMN channel VARCHAR(20);

ALTER TABLE template_versions ADD COLUMN locale VARCHAR(10);

ALTER TABLE template_versions ADD COLUMN format VARCHAR(20);

ALTER TABLE template_versions ADD COLUMN agent_type VARCHAR(50);

ALTER TABLE template_versions ADD COLUMN variables JSON;

ALTER TABLE template_versions ADD COLUMN template_is_active BOOLEAN;

ALTER TABLE template_versions ADD COLUMN restored_from_version INTEGER;

ALTER TABLE template_versions ADD COLUMN is_deleted BOOLEAN NOT NULL;

ALTER TABLE template_versions ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE template_versions ADD COLUMN deleted_by VARCHAR(100);

CREATE UNIQUE INDEX idx_active_template_version ON template_versions (template_id) WHERE is_active = true AND is_deleted = false;

ALTER TABLE template_versions ADD CONSTRAINT uq_template_version UNIQUE (template_id, version_number);

UPDATE public.alembic_version SET version_num='c5618b3bdac0' WHERE public.alembic_version.version_num = '004554449425';

COMMIT;

